@charset "UTF-8";
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	margin: 0px;
	background-color: #CCCCCC;
	text-align: justify;
}
#main {
	width: 760px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/commun/bg.gif);
	background-repeat: repeat-y;
}
#banner {
	width: 760px;
	position: relative;
	z-index: 1;
}

#lbeige {
	width: 760px;
	position: relative;
	z-index: 2;
	height: 10px;
	background-color: #fde9d1;
}
.contentTitle {
	width: 530px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #EA9919;
	line-height: 34px;
	margin-bottom: 10px;
	text-decoration: none;
}
.contentTitle a:link, .contentTitle a:visited, .contentTitle a:active {
	text-decoration: none;	
}
.contentTitle a:hover {
	text-decoration: underline;	
}
#box {
	width: 210px;
	text-align: left;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}
.boxTop{
	background-image: url(../img/commun/box_orange_top.gif);
	height: 11px;
	width: 200px;
}
.boxContent {
	background-color: #ea9919;
	padding: 5px;
	width: 188px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
}
.boxContent ul {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.boxContent li {
	list-style-image: url(../img/commun/box_bull.gif);
	list-style-position: outside;
}
.boxContent a {
	color: #fbed96;
}
.boxContent a:hover, #menu a:active, #menu a:focus {
	color: #FFFFFF;
}
.boxTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	width: 190px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #FFFFFF;
	line-height: 20px;
	font-weight: bold;
}

.boxMauveTop{
	background-image: url(../img/commun/box_mauve_top.gif);
	height: 11px;
	width: 200px;
}
.boxMauveContent {
	background-color: #a6adc9;
	padding: 5px;
	width: 188px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
}
.boxMauveContent ul {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.boxMauveContent li {
	list-style-image: url(../img/commun/box_bull.gif);
	list-style-position: outside;
}
.boxMauveContent a {
	color: #fbed96;
}
.boxMauveContent a:hover, #menu a:active, #menu a:focus {
	color: #FFFFFF;
}

#bottom {
	clear: both;
	width: 760;
	height: 10px;
	position: relative;
	text-align: left;
	z-index: 3;
	background-color: #a6adc9;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
}
#copyright {
	width: 760;
	height: 50;
	padding-top: 5px;
	position: relative;
	text-align: center;
	z-index: 4;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.blancGras12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.orangeGras14 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #EA9919;
}
.orangeGras12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #EA9919;
}
.cadre_orange_top {
	background-image: url(../img/commun/cadre_orange_top.gif);
	background-repeat: no-repeat;
	width: 520px;
	height: 10px;
}
.cadre_orange_txt {
	background-color: #EA9919;
	width: 508px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
}
.cadre_orange_bas {
	background-image: url(../img/commun/cadre_orange_bas.gif);
	background-repeat: no-repeat;
	width: 520px;
	height: 10px;
}
textarea, input {
	background-color: #f2f0f0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.obligatoire {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #990000;
}
.TxtRouge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
}

/* Tableau de données */
.csstable, .csstable table {
	border:3px solid #ea9919;
	border-collapse:collapse;
	width:90%;
	margin:auto;
}
.csstable thead {
	background-color:#a6adc9;
	border:1px solid #ea9919;
	color:#FFFFFF;
	font-weight: bold;
}
.csstable tbody {
	background-color:#FFFFFF;
	border:1px solid #ea9919;
}
.csstable th {
	border:1px dotted #1e6e0b;
	padding:5px;
	background-color:#a6adc9;
	width:25%;
}
.csstable td {
	padding:5px;
	text-align:left;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #ea9919;
	border-bottom-color: #ea9919;
}
.csstable textarea,.csstable input {
	background-color: #f2f0f0;
}

.infosImportantes {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: bold;
	color: Red;
}

/* /Tableau de données */
