@charset "UTF-8";
/* CSS Document */

#banner #photoanim {
	width: 760px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	background-image: url(../img/commun/banner-anim.jpg);
	background-repeat: no-repeat;
	height: 250px;
}
#banner #slog {
	position: absolute;
	right: 0px;
	top: 0px;
	display: block;
	width: 416px;
	height: 126px;
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #ea9919;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000000;
	background-image: url(../img/animations/oiseau.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#content {
	width: 520px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-image: url(../img/animations/soleil.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	line-height: 18px;
}
.contentlist ul {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.contentlist li {
	list-style-image: url(../img/commun/bull.gif);
	list-style-position: outside;
	margin-bottom: 10px;
}
.boxBottom {
	background-image: url(../img/animations/box_orange_bas.gif);
	height: 23px;
	width: 200px;
}
.infoprat_top {
	background-image: url(../img/animations/infoprat_top.gif);
	background-repeat: no-repeat;
	width: 320px;
	height: 37px;
}
.infoprat_txt {
	background-color: #EA9919;
	width: 308px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
}
.infoprat_bas {
	background-image: url(../img/animations/infoprat_bas.gif);
	background-repeat: no-repeat;
	width: 320px;
	height: 7px;
}