@charset "UTF-8";
/* CSS Document */

#banner #photoasbl {
	width: 760px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	background-image: url(../img/commun/banner-assoc-bouge.jpg);
	background-repeat: no-repeat;
	height: 250px;
}
#banner #photoanim {
	width: 760px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	background-image: url(../img/commun/banner-assoc-bouge.jpg);
	background-repeat: no-repeat;
	height: 300px;
}
#banner #photocitizen {
	width: 760px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	background-image: url(../img/commun/banner-citizen.jpg);
	background-repeat: no-repeat;
	height: 250px;
}
#content {
	width: 520px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#content ul {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style-image: none;
	list-style-type: none;
}
#content li {
	list-style-image: url(../img/commun/bull.gif);
	list-style-position: outside;
	margin-bottom: 10px;
}
.boxBottom {
	background-image: url(../img/commun/box_orange_bas.gif);
	height: 11px;
	width: 200px;
}
.boxMauveBottom {
	background-image: url(../img/commun/box_mauve_bas.gif);
	height: 11px;
	width: 200px;
}
