.Titres {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}
.txt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; list-style-type: square}
form {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal;}
input {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal;}
textarea {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal;}
.Titre1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #993300}
.txtBold { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}
.txtpt { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal }
.vsici { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal ; color: #999999}
.txtI { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; font-style: italic}
.Titre2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #000099}
.txtrouge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	list-style-type: square;
	color: #FFCC00;
	background-color: #990000;
}
.CadreGris {
	background-color: #eeeeee;
	border: thin solid #666666;
	width: 80%;
	padding-left: 10px;
}
