/* 
  -----------------------------------
  PopMenu Magic Style Sheet
  by Project Seven Development
  www.projectseven.com
  Menu Type: Horizontal
  Style Theme:7 -L'Orange
  -----------------------------------
*/
#p7PMnav {
	margin:0;
	padding:0;
}
#p7PMnav ul {
	margin:0;
	padding:0;
	border: 1px solid #CCCCCC;
	border-left: 0;
	position: absolute;
	left: -9000px;
	z-index: 10000;
}


/* these are the menu styles */

#p7PMnav li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* ------ the menu link styles ------ */
#p7PMnav a {
	display: block;
	text-decoration: none;
	background-color: #cccccc;
	padding: 3px 10px;
	color: #333333;
	border-left: 6px solid #999999;
	line-height:1;
}
#p7PMnav a:hover, #p7PMnav a:active, #p7PMnav a:focus {
	background-color: #FF9900;
	color: #FFFFFF;
	border-left: 6px solid #000000;
	letter-spacing: .01px;
}

/* ------ the current page marker style ------ */
#p7PMnav .p7PMmark {
	color: #333333;
	font-weight: bold;
}
/* ------ the trigger link styles ------- */

/*the normal trigger links */
#p7PMnav ul .p7PMtrg, #p7PMnav ul .p7PMon {
	background-image:  url(img/p7PM_dark_east.gif);
	background-repeat:	no-repeat;
	background-position: right center;
}
/* the active trigger link style */
#p7PMnav .p7PMon {
	background-color: #FFB74A;
	color: #FFFFFF;
	border-left: 6px solid #333333;
}

/*the submenu classes */

#p7PMnav .p7PMhide {
	left: -9000px;
	border: 0;
}
#p7PMnav .p7PMshow {
	left: auto;
	z-index: 20000 !important;
}
/* Top level menu width */
#p7PMnav li {
	float: left;
	list-style-image: none;
}
#p7PMnav ul li {
	float: none;
}
/* 2nd and subsequent Submenu widths */
#p7PMnav ul, #p7PMnav ul li {
	width: 172px;
}
#pmmcrumb {
	font-weight: bold;
	margin-bottom: 16px;
	color: #333333;
}
#pmmcrumb a, #pmmcrumb a:visited {
	font-weight: normal;
	color: #666699;
}
#pmmcrumb a:hover, #pmmcrumb a:active, #pmmcrumb a:focus {
	font-weight: normal;
	color: #333333;
}
